<style>
    /* CSS di dalam file stylesheet Anda atau dalam tag <style> di footer.ejs */
.footer {
    margin-top: 20px; /* Atur jarak atas */
    margin-bottom: 20px; /* Atur jarak bawah */
    text-align: center; /* Untuk mengatur teks menjadi tengah */
}

</style>
<footer class="footer">
    
</footer>

</body>
</html>
